{
  "openapi": "3.0.1",
  "info": {
    "title": "Unknown Golf",
    "description": "# Overview\nAPI to access information on your communities (or clubs) on the Unknown Golf platform.\n\n## Getting Started\nOnce you have set up your community in Unknown Golf, send an email to Support@UnknownGolf.com with a description of how you intend to utilize the Unknown Golf API.\n\nWe will review and may shedule a meeting to discuss further before providing your credentials.\n\n## Request API Enhancements\nSend an email to Support@UnknownGolf.com with as much detail as you can provide, after our technical team has had an opportunity to review we will reach back out with an update.\n",
    "contact": {
      "name": "API Support",
      "email": "support@unknowngolf.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.unknowngolf.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.unknowngolf.com",
      "description": "Production"
    },
    {
      "url": "https://api-test.unknowngolf.com",
      "description": "Testing"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Operations related to access and security for the Unknown Golf API\n\n**Expiration:**\nSecurity token expires after 24 hours\n"
    },
    {
      "name": "Community",
      "description": "Operations for Communities\n\n**What is a Community?**\nA community in Unknown Golf is an entity that will group together all of your players and events.\n\n**What is a Club?**\nA club is also a community, the main difference is that a club has sub communities and a club dashboard that provides insight into all of the Club's players and events.\n"
    },
    {
      "name": "Event",
      "description": "Operations related to the Events in your community (or Club)\n\n**Event Types:**\nA tournament refers to a Multi-Round Event that has rounds (events) associated with it.  These events have their event ids prefixed with the letter \"M\", a single round event or a round of a multi-round will have their event ids prefixed with the letter \"S\".\n\n**Creating an Event:**\nEvents can only be created on UnknownGolf.com, they currently cannot be created through the Unknwon Golf API.\n"
    },
    {
      "name": "Event Courses",
      "description": "Operations related to the Courses for your Events\n\n**Search Courses:**\nOnly courses associated with an event in Unknown Golf can be accessed via the API\n\n**Add Courses:**\nCourses cannot be added to an Event through the API, only on UnknownGolf.com\n"
    },
    {
      "name": "Event Flights",
      "description": "\tOperations related to the Flights for an event.\n\n\tEach leaderboard has its own set of flights which can be used for the following:\n\n\t1.  Segment your leaderboards into groups by Handicap, Age, Course, etc....\n\t2.  Determine if players or teams are participating in a Leaderboard.  If a leaderboard has flights defined, a player or team is not assigned to a flight, then they are not participating in that leaderboard and will not show up in the standings or results for that leaderboard.\n\n\t** Are Flights Required?**\n\tSingle round events contain a setting to enable or disable flights, currently ALL multi-round events require flights, although this option is targeted to be added in the future.\n\n\t**Players:**\n\tPlayers must be signed up for the event to be assigned to a flight.\n"
    },
    {
      "name": "Event Handicap (Player)",
      "description": "Operations related to Player Handicaps for an Event\n\n**Multi-Round Handicaps:**\nFor multi-round events, the player's will have handicaps set at the overall event level and then for each round which will override the event level for that round.\n\n**Course vs. Playing Handicap:**\nThe \"Course Handicap\" is the players calculated handicap for the assigned tee box (Slope, Rating, and Par).\n\nThe \"Playing Handicap\" is the player's course handicap and then applying allocations, an example allocation could be 80% of a player's handicap where their Course handicap is a 10 and their playing handicap is an 8.\n\n**Applying Allocations:**\nAllocations are applied to the unrounded course handicap wich may result is 2 players having the same course handicap but slightly different playing handicaps.\n\n**Handicap Number of Holes:**\nAll handicaps consumed and calculated are for 18 holes, regardless of the number of holes that are being played.  If you are manually setting a handicap for an event that is playing less then 18 holes, ensure you are setting an 18 hole equilivant handicap for the player.\n\n"
    },
    {
      "name": "Event Handicap (Team)",
      "description": "Operations related to Team Handicaps for an Event\n\n**Multi-Round Events:**\nWhen setting a team handicap for a multi-round event, the handicap should be set for each round of the event, there is no option to set a team handicap for the entire event.\n\n**Course vs. Playing Handicap:**\nThe \"Course Handicap\" is the team's calculated handicap for their players.\n\nThe \"Playing Handicap\" is the team's course handicap and then applying allocations, an example allocation could be 50% of a team's total handicap, where their Course handicap is a 10 and their playing handicap is an 5.\n\n**Applying Allocations:**\nAllocations are applied to the unrounded course handicap which may result is 2 teams having the same course handicap but slightly different playing handicaps.\n\n**Handicap Number of Holes:**\nAll handicaps consumed and calculated are for 18 holes, regardless of the number of holes that are being played.  If you are manually setting a handicap for an event that is playing less than 18 holes, ensure you are setting an 18 hole equivalent handicap for the team.\n\n"
    },
    {
      "name": "Event Leaderboards",
      "description": "Operations related to the Leaderboards for an event.\n\n A Leaderboard defines the format of play and payouts, and contains multiple different configurations per leaderboard type.\n\n**Multi-Round Events:**\nFor multi-round events, the set of leaderboards are created for each round of the event, in addition to the overall set of leaderboards.\n\nLeaderboards set at the \"round level\" will define the format and payouts for just that round, where the leaderboards set at the \"event level\" will define the format and payouts for the entire event, inclusive of all rounds unless configured for a subset of rounds.\n\n**Add / Edit Leaderboard Configurations:**\nAdd and editing of leaderboards can only be done on UnknownGolf.com\n\n**List of Leaderboard types:**\nReference the Utility opertation \"/util/leaderboards/types\" for a full list of leaderboard types, additional information on the leaderboard types can be found in Unknown Golf's help documentation (help.UnknownGolf.com).\n"
    },
    {
      "name": "Event Players",
      "description": "Operations related to Players registering to participate in an Event\n\n**Player Types:**\nPlayers registered for your Event can be registed by their Profile, or by their name and Gender.\n\n**Multi-Round Event vs. Single Round:**\nFor multi-round events, players are registered for the Multi-round, they are not registered individually for each round.\n\n**Note:**\nPlayers registered by name will not have any communication method associated with them, and will not be able to be included in any reports other then this event.\n"
    },
    {
      "name": "Event Scores (Player)",
      "description": "Operations related to the Players Scores for an event.\n"
    },
    {
      "name": "Event Scores (Team)",
      "description": "Operations related to the Team Scores for an event.\n\n**Note:**\nThis is for Team Scores where the format of play is to enter a single score per hole for a team, this is not for events where individual player scores are entered and then combined to create a team score.\n"
    },
    {
      "name": "Event Teams",
      "description": "Operations related to the Teams for your Events\n\n**Players:**\nPlayers must be signed up for the event to be assigned to a team.\n\n**Note:**\nIf an event is a multi-round, there can be teams for the overall event and also a different set of teams for each round\n"
    },
    {
      "name": "Event Tee Pairings",
      "description": "Operations related to the Tee Pairings for an event.\n\n**Players:**\nPlayers must be signed up for the event to be assigned to a tee pairing.\n\n**Course:**\nTee pairings are unique by golf course\n\n**Tee Group:**\nThe tee group is used to define the order of tee groups starting on the same hole at the same time.  An examle is having an \"A\" and \"B\" group both starting on hole 1 at 8:00 AM.  The \"A\" group would tee off first followed by the \"B\" group.\n"
    },
    {
      "name": "Event Web Links",
      "description": "Operations to retrieve web links for your Events\n\n**Note:**\nSome weblinks can be created specificially for a player and should only be shared with that player, while others are generic and can be shared with anyone.\n"
    },
    {
      "name": "Player",
      "description": "Operations related to the Players in your community (or Club)\n\n**Security:**\nYou only have access to players that are in your community(s).\n\n**Player Updates:**\nOnce a player completes their profile on UnknownGolf.com, there are personal attributes that you cannot update, only the player themselves can make the updates on UnknownGolf.com\n\n**Duplicate Profiles & Merging Accounts:**\nA unique profile is determined by a Unique Email Address or Unique World Handicap Id, if you receive an error message when adding (or updating) a player you will need to reach out to Support@UnknownGolf.com to have the profiles merged.\n"
    },
    {
      "name": "Utility",
      "description": "Utility Operations"
    }
  ],
  "paths": {
    "/v1/application.wadl/{path}": {
      "get": {
        "operationId": "getExternalGrammar",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/xml": {
              }
            }
          }
        }
      }
    },
    "/v1/application.wadl": {
      "get": {
        "operationId": "getWadl",
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/vnd.sun.wadl+xml": {
              },
              "application/xml": {
              }
            }
          }
        }
      }
    },
    "/v1/auth": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login",
        "description": "Retrieve Security Token to access Unknown Golf APIs",
        "operationId": "auth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": {
                      "token": "eyJhbGc4NCJ9.eyJzdWIiOiJ1cC5hcGlAdW5rbm93bmdvbGYyOSwieHAiOjQyMTEyMTQxMDgxfQ.eRDA6Ubn9OgY_5M4u8ENSrPFP5X9X4ZcuM"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid Credentials"
          }
        }
      }
    },
    "/v1/community/search": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Search communities",
        "description": "List of communities, if no search criteria is provided then all communities will be returned",
        "operationId": "search",
        "requestBody": {
          "description": "Community search criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunitySearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Community"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "id": 37,
                        "name": "Unknown MGA",
                        "clubCommunityId": 2
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/rounds": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List all rounds",
        "description": "List of rounds for a multi-round event",
        "operationId": "rounds",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiEvent"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "communityId": 37,
                        "communityName": "Unknown MGA",
                        "eventId": "S-65222",
                        "name": "Day 1",
                        "courseId": 1,
                        "courseName": "Lantana Golf Club",
                        "startDate": "2025-09-13",
                        "endDate": "2025-09-13",
                        "info": "Stroke play event where strokes are subtracted or added to your gross scores depending on the course handicap."
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Search events",
        "description": "Search the events within a community",
        "operationId": "search_1",
        "requestBody": {
          "description": "Event search criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEventSearch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiEvent"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/courses": {
      "get": {
        "tags": [
          "Event Courses"
        ],
        "summary": "List all courses",
        "description": "List of courses for the Event\n",
        "operationId": "list",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiCourse"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "courseId": 1,
                        "name": "Lantana Golf Club",
                        "city": "Argyle",
                        "state": "US-TX",
                        "country": "US"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/courses/{courseId}/tees": {
      "get": {
        "tags": [
          "Event Courses"
        ],
        "summary": "List all course tees",
        "description": "List of Course Tees for an Event\n",
        "operationId": "tees",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "courseId",
            "in": "path",
            "description": "Course Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 55284
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiCourseTee"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": {
                      "id": 65,
                      "gender": "M",
                      "name": "Black",
                      "par": 72,
                      "parFront": 36,
                      "parBack": 36,
                      "rating": 73.9,
                      "ratingFront": 37.1,
                      "ratingBack": 36.8,
                      "slope": 133,
                      "slopeFront": 132,
                      "slopeBack": 133,
                      "holes": [
                        {
                          "hole": 1,
                          "par": 4,
                          "hc": 13,
                          "lengthYards": 389
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/courses/{courseId}/tees/{teeId}": {
      "get": {
        "tags": [
          "Event Courses"
        ],
        "summary": "Retrieve course tee",
        "description": "Course Tee for an Event\n",
        "operationId": "tees_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "courseId",
            "in": "path",
            "description": "Course Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 55284
          },
          {
            "name": "teeId",
            "in": "path",
            "description": "Tee Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 11587
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiCourseTee"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": {
                      "id": 65,
                      "gender": "M",
                      "name": "Black",
                      "par": 72,
                      "parFront": 36,
                      "parBack": 36,
                      "rating": 73.9,
                      "ratingFront": 37.1,
                      "ratingBack": 36.8,
                      "slope": 133,
                      "slopeFront": 132,
                      "slopeBack": 133,
                      "holes": [
                        {
                          "hole": 1,
                          "par": 4,
                          "hc": 13,
                          "lengthYards": 389
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/flights/{flightId}/players/{playerId}": {
      "post": {
        "tags": [
          "Event Flights"
        ],
        "summary": "Assign player",
        "description": "\t\t\tAssign the player to the Flight for the Leaderboard.\n\n\t\t\t**Note:**\n\t\t\tIf this is a team leaderboard use the \"Assign team\" endpoint.\n",
        "operationId": "assignPlayer",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "flightId",
            "in": "path",
            "description": "Flight Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 68751
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 547
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Event Flights"
        ],
        "summary": "Remove player",
        "description": "\t\t\tRemove the player from the Flight for the Leaderboard.\n\n\t\t\t**Note:**\n\t\t\tIf this is a team leaderboard use the \"Remove team\" endpoint.\n",
        "operationId": "removePlayer",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "flightId",
            "in": "path",
            "description": "Flight Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 68751
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 547
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/flights/{flightId}/teams/{teamId}": {
      "post": {
        "tags": [
          "Event Flights"
        ],
        "summary": "Assign team",
        "description": "\t\t\tAssign the team to the Flight for the Leaderboard.\n",
        "operationId": "assignTeam",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "flightId",
            "in": "path",
            "description": "Flight Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 68751
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Team Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 547
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Event Flights"
        ],
        "summary": "Remove team",
        "description": "\t\t\tRemove the team from the Flight for the Leaderboard.\n",
        "operationId": "removeTeam",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "flightId",
            "in": "path",
            "description": "Flight Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 68751
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Team Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 547
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/flights/{flightId}": {
      "delete": {
        "tags": [
          "Event Flights"
        ],
        "summary": "Delete flight",
        "description": "\t\t\tDelete the Flight\n",
        "operationId": "deleteFlight",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "flightId",
            "in": "path",
            "description": "Flight Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 68751
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/flights": {
      "get": {
        "tags": [
          "Event Flights"
        ],
        "summary": "List all flights",
        "description": "List of flights for the Event\n",
        "operationId": "list_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiFlight"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "id": 128178,
                        "leaderboardId": 304187,
                        "name": "Flight #1"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Event Flights"
        ],
        "summary": "Delete all flights",
        "description": "\t\t\tDelete the Flights for the Event or for a specific leaderboard if the leaderboardId is included.\n",
        "operationId": "deleteFlightAll",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "leaderboardId",
            "in": "query",
            "description": "Leaderboard Id (All leaderboards if not included)",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 562
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/flights/leaderboards/{leaderboardId}": {
      "get": {
        "tags": [
          "Event Flights"
        ],
        "summary": "List flights for leaderboard",
        "description": "List of flights for a leaderboard of an Event including the Teams (if a Team Leaderboard) or Players (if a NOT a team Leaderboard)\n",
        "operationId": "listLeaderboard",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "Leaderboard Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 5112
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiFlight"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "id": 128178,
                        "leaderboardId": 304187,
                        "name": "Flight #1",
                        "teams": [
                          {
                            "teamId": 266515,
                            "name": "Team #1",
                            "players": [
                              {
                                "playerId": 1,
                                "firstName": "Bill",
                                "lastName": "Trabosh",
                                "suffix": "III",
                                "handle": "Founder"
                              },
                              {
                                "playerId": 32490,
                                "firstName": "Ben",
                                "lastName": "Stevens"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/flights/leaderboards/{leaderboardId}/unassigned/players": {
      "get": {
        "tags": [
          "Event Flights"
        ],
        "summary": "List players unassigned",
        "description": "List of players that are unassigned to a flight for this leaderboard.\n",
        "operationId": "listUnassignedPlayers",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "Leaderboard Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 5112
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiFlight"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "playerId": 159282,
                        "firstName": "first",
                        "lastName": "last",
                        "suffix": "Jr.",
                        "handle": "King #20"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/flights/leaderboards/{leaderboardId}/unassigned/teams": {
      "get": {
        "tags": [
          "Event Flights"
        ],
        "summary": "List teams unassigned",
        "description": "List of teams that are unassigned to a flight for this leaderboard.\n",
        "operationId": "listUnassignedTeams",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "Leaderboard Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 5112
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiFlight"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "teamId": 266515,
                        "name": "Team #1",
                        "players": [
                          {
                            "playerId": 1,
                            "firstName": "Bill",
                            "lastName": "Trabosh",
                            "suffix": "III",
                            "handle": "Founder"
                          },
                          {
                            "playerId": 32490,
                            "firstName": "Ben",
                            "lastName": "Stevens"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/players/handicaps": {
      "get": {
        "tags": [
          "Event Handicap (Player)"
        ],
        "summary": "Search handicaps",
        "description": "List of players and their handicaps for the event\n",
        "operationId": "search_2",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "requestBody": {
          "description": "Search Criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiHcSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiPlayerHc"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "playerId": 1,
                        "courseId": 1,
                        "courseName": "Lantana Golf Club",
                        "teeId": 89658,
                        "teeName": "Blue",
                        "teeRating": 71.2,
                        "teeSlope": 128,
                        "teePar": 72,
                        "hcRevisionDt": "2025-08-04",
                        "hcIndex": 12.7,
                        "hcCourse": 14,
                        "hcPlaying": 14,
                        "hcAllocPct": 100
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/players/{playerId}/handicap/coursePlaying": {
      "patch": {
        "tags": [
          "Event Handicap (Player)"
        ],
        "summary": "Update handicap",
        "description": "Set the player's Course and Playing handicap for an Event.\n",
        "operationId": "updateByCoursePlaying",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 524
          }
        ],
        "requestBody": {
          "description": "Player Handicap Course and Playing",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiUpdateHcCoursePlaying"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/players/{playerId}/handicap/index": {
      "patch": {
        "tags": [
          "Event Handicap (Player)"
        ],
        "summary": "Update handicap index",
        "description": "Set the player's Course and Playing handicap for an Event by Handicap Index.\n",
        "operationId": "updateByIndex",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 524
          }
        ],
        "requestBody": {
          "description": "Player Handicap Index",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiUpdateHcIndex"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/players/{playerId}/handicap/lock": {
      "patch": {
        "tags": [
          "Event Handicap (Player)"
        ],
        "summary": "Update locked",
        "description": "Set the player's handicap as locked or unlocked for the event\n",
        "operationId": "updateLocked",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 524
          },
          {
            "name": "lock",
            "in": "query",
            "description": "Flag to Lock (true) and unlock (false)",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/players/handicaps/lock": {
      "patch": {
        "tags": [
          "Event Handicap (Player)"
        ],
        "summary": "Update lock all",
        "description": "Set all player's handicaps as locked or unlocked for the event\n",
        "operationId": "updateLockedAll",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 524
          },
          {
            "name": "lock",
            "in": "query",
            "description": "Flag to Lock (true) and unlock (false)",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/players/{playerId}/handicap/tee/{teeId}": {
      "patch": {
        "tags": [
          "Event Handicap (Player)"
        ],
        "summary": "Update Assigned tee",
        "description": "Set the player's assigned tee box\n",
        "operationId": "updateTee",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 524
          },
          {
            "name": "teeId",
            "in": "path",
            "description": "Tee Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 11576
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teams/handicaps": {
      "get": {
        "tags": [
          "Event Handicap (Team)"
        ],
        "summary": "Search handicaps",
        "description": "List of teams and their handicaps for the event\n",
        "operationId": "search_3",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "requestBody": {
          "description": "Search Criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiHcSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiTeamHc"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teams/{teamId}/handicap": {
      "patch": {
        "tags": [
          "Event Handicap (Team)"
        ],
        "summary": "Update handicap",
        "description": "Set the team's handicap index, course, and playing for the event\n",
        "operationId": "updateByCoursePlaying_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Team Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 524
          }
        ],
        "requestBody": {
          "description": "Handicap Index, Course, and Playing",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiUpdateHc"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teams/{teamId}/handicap/lock": {
      "patch": {
        "tags": [
          "Event Handicap (Team)"
        ],
        "summary": "Update locked",
        "description": "Set the team's handicap as locked or unlocked for the event\n",
        "operationId": "updateLocked_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Team Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 524
          },
          {
            "name": "lock",
            "in": "query",
            "description": "Flag to Lock (true) and unlock (false)",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teams/handicaps/lock": {
      "patch": {
        "tags": [
          "Event Handicap (Team)"
        ],
        "summary": "Update lock all",
        "description": "Set all team's handicaps as locked or unlocked for the event\n",
        "operationId": "updateLockedAll_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "lock",
            "in": "query",
            "description": "Flag to Lock (true) and unlock (false)",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/leaderboards": {
      "get": {
        "tags": [
          "Event Leaderboards"
        ],
        "summary": "List all leaderboards",
        "description": "List of leaderboards for the Event\n",
        "operationId": "list_2",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiLeaderboard"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "id": 304185,
                        "name": "Player (Gross)",
                        "typeId": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/players": {
      "get": {
        "tags": [
          "Event Players"
        ],
        "summary": "List all players",
        "description": "List of players signed up for the event\n",
        "operationId": "search_4",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiPlayer"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "registeredDt": "2025-08-13T15:56:00.404203-05:00",
                        "playerId": 1,
                        "hasProfile": true,
                        "member": true,
                        "firstName": "Bill",
                        "lastName": "Trabosh",
                        "suffix": "III",
                        "gender": "M",
                        "handle": "Founder",
                        "picUrl": "https://static.unknowngolf.com/players/1/profile/1858.jpg",
                        "hcProviderId": 3,
                        "hcId": "8500474"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Event Players"
        ],
        "summary": "Register player",
        "description": "Add Player to the Event\n\n**By Profile:**\nIf the *playerId* is included in the request, then the player registered for the event will be associated with that player in your community roster.\n\n**By Name:**\nIf the *playerId* is not included in the request, then a new player will be registered for the event that is **NOT** associated with your community.\n\n",
        "operationId": "create",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "requestBody": {
          "description": "Player to register for the event",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiPlayerSignUp"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPlayerId"
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": "{playerId: 1}"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/players/{playerId}": {
      "delete": {
        "tags": [
          "Event Players"
        ],
        "summary": "Remove player",
        "description": "Cancel the player from participating in the Event\n\n**Flights and Teams**\nWhen removing a player from an event, the player will be removed from any Flights or Teams they are assigned to.\n\n**Note:**\nIf the player has a score entered for the Event, the score must first be removed before the player can be removed from the event.\n\n",
        "operationId": "delete",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 5864
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/players/scores": {
      "get": {
        "tags": [
          "Event Scores (Player)"
        ],
        "summary": "Search scores",
        "description": "List of scores for the event\n",
        "operationId": "search_5",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "requestBody": {
          "description": "Search Criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiScoreSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiScore"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "id": 893083,
                        "playerId": 159267,
                        "firstName": "Test",
                        "lastName": "HC",
                        "gender": "M",
                        "eventId": "S-65210",
                        "playedDate": "2025-09-29",
                        "numHoles": 18,
                        "startHole": 1,
                        "courseId": 1,
                        "courseName": "Lantana Golf Club (Argyle, US-TX)",
                        "teeId": 67,
                        "teeName": "Blue",
                        "teeRating": 71.2,
                        "teeSlope": 128,
                        "teePar": 72,
                        "hcIndex": 5,
                        "hcCourse": 5,
                        "hcPlaying": 5,
                        "gross": 75,
                        "grossVsPar": 3,
                        "ags": 75,
                        "agsVsPar": 3,
                        "net": 70,
                        "netVsPar": -2,
                        "isTest": true,
                        "postedToWHS": false,
                        "unofficial": false,
                        "holeScores": [
                          {
                            "hole": 1,
                            "par": 4,
                            "gross": 4,
                            "ags": 4,
                            "netCourse": 4,
                            "netPlaying": 4
                          },
                          {
                            "hole": 2,
                            "par": 4,
                            "gross": 4,
                            "ags": 4,
                            "netCourse": 4,
                            "netPlaying": 4
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teams/scores": {
      "get": {
        "tags": [
          "Event Scores (Team)"
        ],
        "summary": "Search scores",
        "description": "List of team scores for the event\n",
        "operationId": "search_6",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "requestBody": {
          "description": "Search Criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiScoreSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiScore"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "id": 68748,
                        "teamId": 266543,
                        "name": "Team #4",
                        "eventId": "S-65225",
                        "startHole": 1,
                        "courseId": 1,
                        "courseName": "Lantana Golf Club",
                        "hcIndex": 4.4,
                        "hcCourse": 4,
                        "hcPlaying": 4,
                        "gross": 69,
                        "grossVsPar": -3,
                        "net": 65,
                        "netVsPar": -7,
                        "isTest": true,
                        "unofficial": false,
                        "players": [
                          {
                            "playerId": 159298,
                            "firstName": "Hutch",
                            "lastName": "Romanos",
                            "gender": "M"
                          },
                          {
                            "playerId": 159271,
                            "firstName": "Mark",
                            "lastName": "Fajt",
                            "gender": "M"
                          }
                        ],
                        "holeScores": [
                          {
                            "hole": 1,
                            "gross": 5,
                            "netCourse": 5,
                            "netPlaying": 5
                          },
                          {
                            "hole": 2,
                            "gross": 3,
                            "netCourse": 3,
                            "netPlaying": 3
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teams": {
      "get": {
        "tags": [
          "Event Teams"
        ],
        "summary": "List all teams",
        "description": "List of teams for the event\n",
        "operationId": "list_3",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiTeam"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "teamId": 266515,
                        "name": "Team #1",
                        "players": [
                          {
                            "playerId": 32490,
                            "firstName": "Ben",
                            "lastName": "Stevens"
                          },
                          {
                            "playerId": 159301,
                            "firstName": "Frank",
                            "lastName": "Schneider"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Event Teams"
        ],
        "summary": "Add team",
        "description": "\t\t\tCreate the teams\n\n\t\t\t**Team Name:**\n\t\t\tNot rquired, will default to \"Team #X\" with \"X\" being the total number of teams.\n\n\t\t\t**Player Assign:**\n\t\t\tIf player ids are included in the request for each team, then those players will be assigned to the team when the team is created.\n",
        "operationId": "add",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "requestBody": {
          "description": "Teams to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApiTeamAdd"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Event Teams"
        ],
        "summary": "Delete all teams",
        "description": "\t\t\tDelete all teams for the event\n",
        "operationId": "deleteAll",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teams/{teamId}/players/{playerId}": {
      "post": {
        "tags": [
          "Event Teams"
        ],
        "summary": "Assign player",
        "description": "\t\t\tAssign the player to the team\n",
        "operationId": "assignPlayer_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Team Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 6827
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 547
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Event Teams"
        ],
        "summary": "Remove player",
        "description": "\t\t\tRemove the player from the team\n",
        "operationId": "removePlayer_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Team Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 6827
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Team Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 547
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teams/players": {
      "post": {
        "tags": [
          "Event Teams"
        ],
        "summary": "Assign players",
        "description": "\t\t\tAssign the players to the teams\n",
        "operationId": "assignPlayers",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "requestBody": {
          "description": "Teams players to assign",
          "content": {
            "*/*": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApiTeamPlayerAdd"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Event Teams"
        ],
        "summary": "Remove all players all teams",
        "description": "\t\t\tRemove all players from all teams\n",
        "operationId": "removeAllPlayers",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teams/{teamId}": {
      "delete": {
        "tags": [
          "Event Teams"
        ],
        "summary": "Delete team",
        "description": "\t\t\tDelete the team\n",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Team Id to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 6827
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teams/{teamId}/players": {
      "delete": {
        "tags": [
          "Event Teams"
        ],
        "summary": "Remove players all",
        "description": "\t\t\tRemove all players from the team\n",
        "operationId": "removePlayersAll",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Team Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 6827
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teams/{teamId}/name/{name}": {
      "patch": {
        "tags": [
          "Event Teams"
        ],
        "summary": "Update name",
        "description": "\t\t\tUpdate the Team Name\n",
        "operationId": "updateName",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Team Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 6827
          },
          {
            "name": "name",
            "in": "path",
            "description": "New Team Name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Twin Towers"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teePairings": {
      "get": {
        "tags": [
          "Event Tee Pairings"
        ],
        "summary": "List tee pairings",
        "description": "List of Tee Pairings for a single round event, or a round of a multi-round event.\n",
        "operationId": "list_4",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "S-45876"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiTee"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "id": 295051,
                        "courseId": 1,
                        "time": "08:00:00",
                        "hole": 1,
                        "group": "B",
                        "players": [
                          {
                            "playerId": 159323,
                            "firstName": "Sam",
                            "lastName": "Meade"
                          },
                          {
                            "playerId": 41739,
                            "firstName": "Robert",
                            "lastName": "Rinker"
                          },
                          {
                            "playerId": 159267,
                            "firstName": "Dean",
                            "lastName": "Sifuentes"
                          },
                          {
                            "playerId": 159318,
                            "firstName": "John",
                            "lastName": "Shea"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Event Tee Pairings"
        ],
        "summary": "Update tee pairings",
        "description": "Update the tee pairings\n\n**Note:**\nTo remove players use the Add or Remove players endpoint.\n",
        "operationId": "updateTeeTime",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "S-45876"
          }
        ],
        "requestBody": {
          "description": "Tee pairings to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApiTeeUpdate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiTeeUpdateReturn"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "teePairingId": 295083
                      },
                      {
                        "errors": [
                          "Tee pairing id is required"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Event Tee Pairings"
        ],
        "summary": "Create tee pairings",
        "description": "Create the tee pairings, if player ids are included, assign the players to the tee pairing.\n\n**Note:**\nCreating a new tee pairing with the same the same time, hole, group, and course id as an existing tee pairing will NOT update the existing tee pairing, a new tee pairing will be created.\n",
        "operationId": "addTeeTime",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "S-45876"
          }
        ],
        "requestBody": {
          "description": "Tee pairings to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApiTeeCreate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiTeeCreateReturn"
                  }
                },
                "examples": {
                  "sample": {
                    "description": "sample",
                    "value": [
                      {
                        "teePairingId": 295083
                      },
                      {
                        "teePairingId": 295084,
                        "errors": [
                          "Player id 445 is not signed up for the event"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Event Tee Pairings"
        ],
        "summary": "Delete all tee pairings",
        "description": "\t\t\tDelete all tee pairing, any players assigned to the tee pairing will be unassigned.\n",
        "operationId": "deleteTeeTimesAll",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "courseId",
            "in": "query",
            "description": "Course Id (All courses if not included)",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 562
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teePairings/{teePairingId}/players/{playerId}": {
      "post": {
        "tags": [
          "Event Tee Pairings"
        ],
        "summary": "Assign player",
        "description": "\t\t\tAssign the player to the tee pairing\n",
        "operationId": "assignPlayer_2",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "teePairingId",
            "in": "path",
            "description": "Tee pairing Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 6827
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 547
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Event Tee Pairings"
        ],
        "summary": "Remove player",
        "description": "\t\t\tRemove the player to the tee pairing\n",
        "operationId": "removePlayer_2",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "teePairingId",
            "in": "path",
            "description": "Tee pairing Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 6827
          },
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 547
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teePairings/players": {
      "post": {
        "tags": [
          "Event Tee Pairings"
        ],
        "summary": "Assign players",
        "description": "\t\t\tAssign the players to the tee pairing\n",
        "operationId": "assignPlayersAll",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "requestBody": {
          "description": "Players with the tee pairing assignment",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/ApiTeeAssignPlayer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Event Tee Pairings"
        ],
        "summary": "Remove all players",
        "description": "\t\t\tRemove all the players assigned to a tee pairing\n\n\t\t\t**By Course:\"**\n\t\t\tIf a course id is included in as a parameter, only players assigned to tee pairings on that course will be removed.\n",
        "operationId": "removePlayersAll_1",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "courseId",
            "in": "query",
            "description": "Course Id (All courses if not included)",
            "schema": {
              "type": "string"
            },
            "example": 562
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teePairings/{teePairingId}": {
      "delete": {
        "tags": [
          "Event Tee Pairings"
        ],
        "summary": "Delete tee pairing",
        "description": "\t\t\tDelete the tee pairing, any players assigned to the tee pairing will be unassigned.\n",
        "operationId": "deleteTeeTime",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          },
          {
            "name": "teePairingId",
            "in": "path",
            "description": "Tee pairing Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 6827
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": "Unauthorized player or request"
          }
        },
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ]
      }
    },
    "/v1/events/{eventId}/teePairings/allRounds": {
      "get": {
        "tags": [
          "Event Tee Pairings"
        ],
        "summary": "List tee pairings all rounds",
        "description": "List of Tee Pairings for all rounds of a multi-round event.\n",
        "operationId": "listAllRounds",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "M-5208"
          }
        ],
        "responses": {
          "200": {
[...]
